API_KEY=your_api_key_here
MONGO_URI=your_mongodb_uri_here
MONGODB_NAME=your_mongodb_name_here
MONGODB_COLLECTION_NAME=your_collection_name_here


# PostgreSQL configuration
PG_HOST=your_postgresql_host_here
PG_PORT=your_postgresql_port_here
PG_USER=your_postgresql_user_here
PG_PASSWORD=your_postgresql_password_here
PG_DATABASE=your_postgresql_database_here